.custom-option-input {
  color: var(--very-dark-cyan);
  background-color: var(--input-bg-color);
  border-radius: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: right;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 600;
  width: 100%;
  border: none;
  caret-color: var(--strong-cyan);
}

.custom-option-input::placeholder {
  color: var(--dark-grayish-cyan);
}

.custom-option-input:focus {
  outline-color: var(--strong-cyan);
}
