.input-label {
  color: var(--dark-grayish-cyan);
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.input {
  color: var(--very-dark-cyan);
  background-color: var(--input-bg-color);
  background-repeat: no-repeat;
  background-position: 6% 50%;
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  text-align: right;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 600;
  width: 100%;
  border: none;
  caret-color: var(--strong-cyan);
}

.input:focus {
  outline-color: var(--body-bg-color);
}
